# Node & frontend-related ignores
frontend/
**/node_modules/
**/dist

# Git and logs
.git
npm-debug.log

# Coverage & environment files
.coverage
.coverage.*
.env
.aws

# Rust dockerignore
target
.dockerignore
.gitignore